<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tecshop</title>
        <meta charset="UTF-8">
      
    </head>
    <body>
        <h1>Países</h1>
        <header th:replace="layout/plantilla :: header"/>
<br/>
<a th:href="@{/nuevoCliente}">Países del planeta</a>
<br/>  
<div th:if"${clientes != null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre del Estado</th>
                    <th>Capital</th>
                    <th>Población</th>
                    <th>Costas</th>
                     
                </tr>
            </thead>
            <tbody>
                    <tr th:each="item :${clientes}" >
                    <td th:text="${item.estado}" ></td>
                    <td th:text="${item.capital}"></td>
                    <td th:text="${item.población}"></td>
                    <td th:text="${item.costas}"></td>
                    <td><a th:href="@{/modificarCliente/}+ ${item.idCliente}">Modificar</a></td>
                    <td><a th:href="@{/eliminarCliente/}+ ${item.idCliente}">Eliminar</a></td>
                    
                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if"${clientes == null or clientes.empty}">
        
        </div>   
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
